h1{
    background-color: black;
    text-align: center;
    color: azure;
    padding: 50px;
}
.mysquare{
    width: 200px;
    height: 200px;
    border: 1px solid yellow;
    border-radius: 40%;
    background-color: aqua;
    animation-name: movesquare;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes movesquare {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
